/* main.css -
 *
 * This stylesheet is used by default in all pages; it defines overall things
 * such as default fonts and colors.
 */

body {
    font-family: @fontFamily;
    color: @color;
    background: @background;
    font-size: @fontSize;
}