/* main.css -
 *
 * This stylesheet is used by default in all pages; it defines overall things
 * such as default fonts and colors.
 */

body {
    font-family: @fontFamily;
    color: @color;
    background: @background;
    font-size: @fontSize;
    margin: @pageMargin;
}

h1 {
    font-size: 150%;
    margin: 15px 0px 5px 0px;
}

h2 {
    font-size: 130%;
    margin: 12px 0px 5px 0px;
}

/* The following style information is for the default bulletin. */
.bulletin {
    font-weight: bold;
    border: 1px solid @errorColor;
    background: @errorBackground;
    padding: 10px 10px 10px 10px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}

/* The following style information is for displaying errors controlled
 * by the "section" style.
 */
.sectionError {
    border: 1px solid @errorColor;
    background: @errorBackground;
    padding: 10px 10px 10px 10px;
    margin: 10px 20px 10px 20px;
}

/* The following style information is for displaying information
 * about uncaught exceptions that propagate all the way back to Dispatcher.
 */
.uncaughtException {
    font-weight: bold;
    border: 1px solid @errorColor;
    background: @errorBackground;
    padding: 10px 10px 10px 10px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}

/* The following styles override defaults that vary from browser to
 * browser.
 */
td {
    padding: 0px;
}
form {
    margin: 0px;
}
body {
    margin: 0px;
    padding: 0px 3px 0px 3px;
}

/* Default color for text displayed in elements related to errors. */
.error {
    color: @errorColor;
}