/* main.css -
 *
 * This stylesheet is used by default in all pages; it defines overall things
 * such as default fonts and colors.
 */

body {
    font-family: @fontFamily;
    color: @color;
    background: @background;
    font-size: @fontSize;
    margin: @pageMargin;
}

h1 {
    font-size: 150%;
    margin: 15px 0px 5px 0px;
}

h2 {
    font-size: 130%;
    margin: 12px 0px 5px 0px;
}

/* Default color for text displayed in elements related to errors. */
.error {
    color: @errorColor;
}