/* TreeSection.css -
 *
 * This file contains style information used for TreeSections.
 */

.TreeSection .left {
    padding: 0px 2px 0px 0px;
    line-height: 0;
}

.TreeSection .left img {
    vertical-align: middle;
    background-position: top;
}

.TreeSection .right {
    cursor: default;
}

.TreeSection .right img {
    vertical-align: middle;
    margin-right: 5px;
}

.TreeSection .label {
    vertical-align: middle;
}

/* The div's containing nested TreeSection tables need to be indented
 * slightly for better appearance.
 */
.nested {
    margin-left: 3px;
}