/* UploadFormElement.css -
 *
 * This file defines styles for UploadFormElements that use the default class.
 * Many of the styles are inherited from those defined in css.yaml.
 */

/* Browser compatibility note: IE adds 1 pixel of margin on the top and
 * bottom of text inputs, and there seems to be no way to eliminate this.
 */
.UploadFormElement {
    width: @formElementWidth;
    font-family: @fontFamily;
    font-size: 100%;
    border: @standardBorder;
    padding: 1px 3px 1px 3px;
    margin: 0px;
}

.UploadFormElement:focus {
    border: @accentBorder;
    background: @activeBackground;
}